body {
  background: black;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #0b0b0b;
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0 0 25px cyan;
  color: cyan;
}

h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: black;
  border: 1px solid cyan;
  color: cyan;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 10px;
  background: cyan;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  box-shadow: 0 0 10px cyan;
}

.checkbox {
  font-size: 14px;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

li button {
  width: auto;
  padding: 5px;
}

.logout {
  margin-top: 15px;
  background: red;
  color: white;
}
